server {
  listen 80;
  server_name {{SERVER_NAME}};
  location ~ {{API_PATH}}/ {
    proxy_pass http://{{API_HOST}}:{{API_PORT}}$uri;
  }
  location / {
    proxy_pass http://{{UI_HOST}}:{{UI_PORT}}$uri;
  }
}
